@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 25rem;
  height: 25rem;
  /* box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.2); */
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.game-board .box {
  font-size: 5rem;

  text-align: center;
}
.game-board .box:hover {
  background-color: gray;
}
.box1,
.box2,
.box4,
.box5 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.box3,
.box6 {
  border-bottom: 2px solid black;
}
.box7 {
  border-right: 2px solid black;
}
.box8 {
  border-right: 2px solid black;
}
.winner {
  font-size: 2rem;
  padding: 1rem;
  color: blue;
}

@media screen and (max-width: 768px) {
  .game-board {
    padding: 1rem;
  }
  .game-board .box {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
